*{
	padding: 0;
	margin: 0;
}
::selection {
  color: white; 
  background: #78AF27;
 }

a{
	text-decoration: none;
} 
.nametag h1{
	position: absolute;
	max-width: 90.46vw;
	max-height: 10.2vw;
	/*left: 63vw;*/
	right: 8.9vw;
	top: 506px;
	font-family: Nunito;
	font-style: normal;
	font-weight: 245;
	line-height: normal;
	font-size: 3.85vw;
	color: #000000;
	letter-spacing: 0.01em;
}
.nametag p{
	position: absolute;
	max-width: 35.41vw;
	min-height: 19.62vh;
	right: 8.9vw;
	/*left: 55.52vw;*/

	top: 616px;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 20px;
	text-align: right;
	color: rgba(38, 35, 37, 0.71);
}
.nametag{
	/*border:2px solid black;*/
}
.box1{
	position: absolute;
	left:10vw;
	top:3.2vw;
	/*max-width:80vw;
	max-width: 321px;*/  
}

.box2{
	position: absolute;
	left: 40vw;
	top: 3.2vw; 
}
.box3{
	position: absolute;
	left: 69vw;
	top: 3.2vw; 
}
.box{
	max-width: 22vw;
	max-height: 321px;

}
.box img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
	border-radius: 40px;
}
.box img:hover{
	box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
	transition-duration: 0.2s;
    cursor:pointer;	
}
.label{

	height: 57px;
	background: #FFFFFF;
	box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.1);
	border-radius: 40px;
}
.label h1{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 14px;
	letter-spacing: 0.6em;
	color: #000000;
	text-align: center;
	margin-top: 19px;
}
.b1{
	position: absolute;
	left: 15vw;
	top: 21.4vw; 
	width: 260px;
}
.b1 h1:hover {
	/*color: linear-gradient(270deg, #F1B374  20%, #F16862 100%);*/
	background: -webkit-linear-gradient(-180deg, #F1B374  20%, #F16862 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    transition-duration: 0.2s;
    cursor:pointer;
}
.b2{
	position: absolute;
	left: 48vw;
	top: 21.4vw;
	width: 114px; 
}
.b2 h1:hover {
	background: -webkit-linear-gradient(270deg, #00AE4C 11.92%, #85C43F 85.38%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    transition-duration: 0.2s;
    cursor:pointer;
}
.b3{
	position: absolute;
	left: 75vw;
	top: 21.4vw; 
	width: 206px;
}
.b3 h1:hover {
	background: -webkit-linear-gradient(270deg, #00AE4C 11.92%, #85C43F 85.38%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    transition-duration: 0.2s;
    cursor:pointer;
}

.socialicons i{
	padding: 10px;
	font-size: 32px;
	background: #FFFFFF;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
	border-radius: 100px;
	position: absolute;
	top: 44vw;
	max-width: 60px;
	max-height: 60px;
	color: black;
}
.fa-instagram{
	left: 64vw;
	padding: 12px;
}
.fa-behance{
	left:68vw;
	padding: 18px; 

}
.fa-youtube-play{
	left: 72vw;

}
.fa-dribbble{
	left: 76vw;
}
.contact h1{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 14px;
	letter-spacing: 0.6em;
	color: #FFFFFF;
	margin-top: 19px;
	text-align: center;
}
.contact{
	position: absolute;
	width: 160px;
	height: 60px;
	left: 80vw;
	top: 44vw;
	background: linear-gradient(270deg, #00AE4C 11.92%, #85C43F 85.38%);
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
}
.contact:hover{
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.35);
	transition-duration: 0.2s;
    cursor:pointer;	
}
.myicon{
	position: fixed;
	max-width: 4vw;
	max-height: 4vw;	
	left: 4vw;
	top: 54px;
}
.myicon img{
	width: 100%;
	height: 100%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
	border-radius: 100px;
	object-fit: cover;
	overflow: hidden;
}
.topname{
	position: absolute;
	top: 78px;
	left: 10vw;
}
.topname h1{
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 24px;
	letter-spacing: 0.4em;
	color: #000000;
}
.pagetag{
	position: absolute;

	height: 50px;

	right: 5vw;
	top: 73px;
	/*border:2px solid black;*/
}
.pagetag h1{
	font-family: Nunito;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 48px;
	letter-spacing: 0.2em;
	color: rgba(0, 0, 0, 0.59);
	text-align: right;
}

.sidebar{
	width: 4vw;
	height: 640px;
	position: fixed;
	left: 4vw;
	top: 240px;
}	

.side{
	background: #FFFFFF;
	box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.1);
	border-radius: 40px;
	transform: rotate(-90deg);
	max-height: 100%;
	overflow: auto;
}
.side h1{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 14px;
	letter-spacing: 0.6em;
	color: #000000;
	text-align: center;
	padding-top: 18px;

}
.barbox1{
position: fixed;
width: 255px;
height: 54px;
left: -12px;
top: 315px;
}

.barbox2{
position: fixed;
width: 110px;
height: 54px;
left: 60px;
top: 520px;	
}
.barbox3{
position: fixed;
width: 199px;
height: 54px;
left: 16px;
top: 700px;
}
.illobox{
	max-width: 20vw;
	max-height: 299px;
}
.illobox img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	border-radius: 40px;
}
.imgtext{
	position: absolute;
	max-width: 19vw;
	max-height: 288px;
	left: 0;
	top: 0;
	/*border: 2px solid black;*/
	padding-top: 3vw;
	padding-left: 1vw;
	padding-right: 1vw;

	opacity: 0;	
}
.imgtext h1{
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 20px;
	letter-spacing: 0.06em;
	color: #1F1F1F;
}
.imgtext p{
	padding-top: 1vw;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 14px;
	letter-spacing: 0.06em;
	color: #1F1F1F;	
}
.imgtext h2{
	padding-top: 1.5vw;
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 18px;
	letter-spacing: 0.06em;
	color: #1F1F1F;	
	padding-left: 70%

}
.ibox1shadow{
	position: absolute;
	min-width: 20vw;
	min-height: 288px;
	left: 0;
	top: 0;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.20);
	border-radius: 40px;
}
.ibox1shadow:hover{
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.10), inset 300px 300px 10px rgba(255, 255, 255, 0.75);
}
.illobox:hover .imgtext{
	opacity: 1;
	transition-duration: 0.2s;
}

/* ILLUSTRATION BOXES*/
		.ibox1{
			position: absolute;
			left:16vw;
			top:10.6vw;	
		}
		.ibox2{
			position: absolute;
			left:40vw;
			top:10.6vw;		
		}
		.ibox3{
			position: absolute;
			left:64vw;
			top:10.6vw;		
		}	
		.ibox4{
			position: absolute;
			left: 16vw;
			top: 29.6vw;
		}
		.ibox5{
			position: absolute;
			left: 40vw;
			top: 29.6vw;
		}
		.ibox6{
			position: absolute;
			left: 64vw;
			top: 29.6vw;
		}
		.ibox7{
			position: absolute;
			left: 16vw;
			top: 48.6vw;

		}
		.ibox8{
			position: absolute;
			left: 40vw;
			top: 48.6vw;

		}
		.ibox9{
			position: absolute;
			left: 64vw;
			top: 48.6vw;

		}
.iextraspace{
	/*border: 2px solid black;*/
	height: 2vw;
	width: 10vw;
			position: absolute;
			top: 64vw;
}		

/* SOLO PAGES*/		
.fsolo{
	position: absolute;
	left: 16vw;
	top:9.6vw;
	/*border: 2px solid black;	*/

}
.fsolo h1{
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 38px;
	color: rgba(0, 0, 0, 0.59);
}
.fsolo img{
	padding-top: 1vw;
	padding-bottom: 1.4vw;
	width: 70vw;
}
.ftext{
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 20px;
	letter-spacing: 0.06em;
	color: #1F1F1F;
	padding-top: 0.8vw;
	width: 70vw;

}
.fnextbutton{
	width: 7vw;
	margin-left: 53.2vw;
	background: #FFFFFF;
	box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.1);
	border-radius: 40px;

	text-align: center;
	padding-top: 0.70vw;
	padding-bottom: 0.70vw;
	padding-left: 0.65vw;
	padding-right: 0.65vw;

	font-family: Nunito;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 20px;
	letter-spacing: 0.4em;
	color: #000000;
}
.fbackbutton{
	width: 7vw;

	margin-top: 2.5vw;
	margin-bottom: 1.4vw;


	background: #FFFFFF;
	box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.1);
	border-radius: 40px;

	text-align: center;
	padding-top: 0.70vw;
	padding-bottom: 0.70vw;
	padding-left: 0.65vw;
	padding-right: 0.65vw;

	font-family: Nunito;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 20px;
	letter-spacing: 0.4em;
	color: #000000;
}
.ffnextbutton{
	width: 7vw;
	margin-left: 61.7vw;
	margin-top: 2.5vw;
	margin-bottom: 1.4vw;
	background: #FFFFFF;
	box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.1);
	border-radius: 40px;

	text-align: center;
	padding-top: 0.70vw;
	padding-bottom: 0.70vw;
	padding-left: 0.65vw;
	padding-right: 0.65vw;

	font-family: Nunito;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 20px;
	letter-spacing: 0.4em;
	color: #000000;
}
.buttons{
	/*border:2px solid black;*/
	display: inline-block;
}
.gifbox{
	max-width: 20vw;
	max-height: 299px;
}
.gifbox img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	border-radius: 40px;
}
/* GIF BOXES*/
		.gbox1{
			position: absolute;
			left:16vw;
			top:16.6vw;	
		}
		.gbox2{
			position: absolute;
			left:40vw;
			top:16.6vw;		
		}
		.gbox3{
			position: absolute;
			left:64vw;
			top:16.6vw;		
		}
.gifbox:hover .imgtext{
	opacity: 1;
	transition-duration: 0.2s;
}
/*PROJECT PAGE*/
.pt1{

	max-width: 40vw;
	min-height: 216px;
	/*border: 2px solid black;*/
	padding-top: 1vw;
	padding-left: 1vw;
	padding-right: 1vw;
	margin-left: 36.3vw;
	margin-top: 11vw;


	opacity: 1;	
}
.projtext h1{
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 20px;
	letter-spacing: 0.06em;
	color: #1F1F1F;
}
.projtext p{
	padding-top: 1vw;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 14px;
	letter-spacing: 0.06em;
	color: #1F1F1F;	
}
.projtext h2{
	padding-top: 1.9vw;
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 18px;
	letter-spacing: 0.06em;
	color: #1F1F1F;	
	padding-left: 79%
}
.projcontent{
	display: inline;
}
.projbox{
	max-width: 20vw;
	max-height: 299px;
}
.projbox img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	border-radius: 40px;
}
.pbox1shadow{
	position: absolute;
	min-width: 20vw;
	min-height: 288px;
	left: 0;
	top: 0;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.20);
	border-radius: 40px;
}
		.pbox1{
			position: absolute;
			left:16vw;
			top:10.6vw;	
		}
		.pbox2{
			position: absolute;
			left: 16vw;
			top: 29.6vw;
		}
		.pbox3{
			position: absolute;
			left: 16vw;
			top: 48.6vw;
		}

.pt2{

	max-width: 40vw;
	min-height: 216px;
	/*border: 2px solid black;*/
	padding-top: 1vw;
	padding-left: 1vw;
	padding-right: 1vw;
	margin-left: 36.3vw;
	margin-top: 7.2vw;


	opacity: 1;	
}
.pt3{

	max-width: 40vw;
	min-height: 216px;
	/*border: 2px solid black;*/
	padding-top: 1vw;
	padding-left: 1vw;
	padding-right: 1vw;
	margin-left: 36.3vw;
	margin-top: 7.2vw;


	opacity: 1;	
}
.myiconindex{
	position: fixed;
	max-width: 4vw;
	max-height: 4vw;	
	left: 4vw;
	top: 54px;
	display: none;
}
.myiconindex img{
	width: 100%;
	height: 100%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
	border-radius: 100px;
	object-fit: cover;
	overflow: hidden;
}
@media only screen and (max-width: 650px){
/*mobile index*/
/*mobile index*//*mobile index*//*mobile index*//*mobile index*//*mobile index*//*mobile index*//*mobile index*/
	.nametag h1{
	text-transform: uppercase;
	position: absolute;
	width: 65%;
	height: 50px;
	left: 110px;
	top: 38px;
	position: absolute;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: normal;
	letter-spacing: 0.4em;
	color: #000000;

}
.nametag p{
	position: absolute;
	min-width: 320px;
	height: 128px;
	left: 60px;
	top: 948px;

	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: normal;
	text-align: right;
	color: rgba(38, 35, 37, 0.71);
}

.myiconindex{
	position: absolute;
	max-width: 14.44vw;
	max-height: 14.44vw;	
	left: 8.61vw;
	top: 20px;
	display: block;
}
.myiconindex img{
	width: 100%;
	height: 100%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
	border-radius: 100px;
	object-fit: cover;
	overflow: hidden;
}
.box1{
	position: absolute;
	left:7vw;
	top:99px;
	/*max-width:80vw;
	max-width: 321px;*/  
}

.box2{
	position:relative;
	left: 7vw;
	top: 380px; 
}
.box3{
	position: absolute;
	left: 7vw;
	top: 661px; 
}
.box{
	max-width: 88.33%;
	max-height: 235px;

}
.box img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
	border-radius: 40px;
}
.label{

	height: 57px;
	background: #FFFFFF;
	box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.1);
	border-radius: 40px;
	transform: rotate(-90deg);
	opacity: 0.85
}
.label h1{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 10px;
	letter-spacing: 0.55em;
	color: #000000;
	text-align: center;
	margin-top: 8px;
}
.b1{
	position: absolute;
	width: 165px;
	height: 31px;
	left: -22px;
	top: 220px;
}
.b2{
	position: absolute;
	width: 78px;
	height: 31px;
	left: 23.3px;
	top: 497px; 
}
.b3{
	position: absolute;
	width: 128px;
	height: 31px;
	left: -3px;
	top: 777px;
}

.socialicons i{
	padding: 10px;
	font-size: 32px;
	background: #FFFFFF;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
	border-radius: 100px;
	position: absolute;
	top: 1255px;
	max-width: 60px;
	max-height: 60px;
	color: black;
	margin-bottom: 32px;
	margin-left: 14px;
}
.fa-instagram{
	left: 27px;
	padding: 12px;
}
.fa-behance{
	left:91px;
	padding: 18px; 

}
.fa-youtube-play{
	left: 155px;

}
.fa-dribbble{
	left: 219px;
}
.contact h1{
display: none;
}
.contact{
position: absolute;
width: 50px;
height: 50px;
left: 300px;
top: 1255px;

background: linear-gradient(90deg, #85C43F -9.52%, #00AE4C 105.95%);
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.18);
}
/*                            ILLUSTRATION MOBILE         */
.myicon{
	position: absolute;
	max-width: 14.44vw;
	max-height: 14.44vw;	
	left: 8.61vw;
	top: 20px;
}
.topname{
	display: none;
}
.pagetag{
	position: absolute;
	width: 606px;
	height: 50px;
	left: 118px;
	top: 38px;
}
.pagetag h1{
position: absolute;
font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: normal;
letter-spacing: 0.4em;

color: #000000;
}

.sidebar{
	width: 4vw;
	height: 640px;
	position: fixed;
	left: 4vw;
	top: 240px;
	display: none;
}	
/*.side{
	background: #FFFFFF;
	box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.1);
	border-radius: 40px;
	transform: rotate(-90deg);
	max-height: 100%;
	overflow: auto;
}
.side h1{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 14px;
	letter-spacing: 0.6em;
	color: #000000;
	text-align: center;
	padding-top: 18px;

}
.barbox1{
position: fixed;
width: 255px;
height: 54px;
left: -12px;
top: 315px;
}

.barbox2{
position: fixed;
width: 110px;
height: 54px;
left: 60px;
top: 520px;	
}
.barbox3{
position: fixed;
width: 199px;
height: 54px;
left: 16px;
top: 700px;
}
*/
.illobox{
	min-width: 370px;
	min-height: 299px;
}
.illobox img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	border-radius: 40px;
}
.imgtext{
display: none;	
}
.ibox1shadow{
display: none;
}
/*.imgtext h1{
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 20px;
	letter-spacing: 0.06em;
	color: #1F1F1F;
}
.imgtext p{
	padding-top: 1vw;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 14px;
	letter-spacing: 0.06em;
	color: #1F1F1F;	
}
.imgtext h2{
	padding-top: 1.5vw;
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 18px;
	letter-spacing: 0.06em;
	color: #1F1F1F;	
	padding-left: 70%

}
.ibox1shadow{
	position: absolute;
	min-width: 20vw;
	min-height: 288px;
	left: 0;
	top: 0;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.20);
	border-radius: 40px;
}
.ibox1shadow:hover{
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.10), inset 300px 300px 10px rgba(255, 255, 255, 0.75);
}
.illobox:hover .imgtext{
	opacity: 1;
	transition-duration: 0.2s;
}
*/

/* ILLUSTRATION BOXES*/
		.ibox1{
			position: absolute;
			left:20px;
			top:99px;	
		}
		.ibox2{
			position: absolute;
			left:20px;
			top:388px;		
		}
		.ibox3{
			position: absolute;
			left:20px;
			top:677px;		
		}	
		.ibox4{
			position: absolute;
			left: 20px;
			top: 966px;
		}
		.ibox5{
			position: absolute;
			left: 20px;
			top: 1255px;
		}
		.ibox6{
			position: absolute;
			left: 20px;
			top: 1544px;
		}
		.ibox7{
			position: absolute;
			left: 20px;
			top: 1833px;

		}
		.ibox8{
			position: absolute;
			left: 20px;
			top: 2122px;

		}
		.ibox9{
			position: relative;
			left: 20px;
			top: 2411px;

		}
/*SOLO MOBILE*/		
.fsolo{
	position: absolute;
	left: 10px;
	top:121px;


}
.fsolo h1{
	font-size: 24px;
}
.fsolo img{
	padding-top: 1vw;
	padding-bottom: 1.4vw;
	width: 93.61vw;
}
.ftext{
	font-size: 16px;
	line-height: normal;
	letter-spacing: 0.06em;
	color: #1F1F1F;
	padding-top: 0.8vw;
	width: 90vw;

}
.fnextbutton{
	min-width: 97px;
	max-height: 46px;
	margin-left: 200px;
	background: #FFFFFF;
	box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.1);
	border-radius: 40px;

	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;

	font-family: Nunito;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 14px;
	letter-spacing: 0.4em;
	color: #000000;
}
.fbackbutton{
	min-width: 97px;
	max-height: 46px;
	margin-top:0px;
	background: #FFFFFF;
	box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.1);
	border-radius: 40px;

	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;

	font-family: Nunito;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 14px;
	letter-spacing: 0.4em;
	color: #000000;
}
.ffnextbutton{
	min-width: 97px;
	max-height: 46px;
	margin-left: 200px;
	background: #FFFFFF;
	box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.1);
	border-radius: 40px;

	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;

	font-family: Nunito;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 14px;
	letter-spacing: 0.4em;
	color: #000000;
}
.buttons{
	/*border:2px solid black;*/
	display: inline;

}
}
@media only screen and (max-width: 360px){
/*mobile index*/

	.nametag h1{
	text-transform: uppercase;
	position: absolute;
	width: 69%;
	height: 50px;
	left: 100px;
	top: 38px;
	position: absolute;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: normal;
	letter-spacing: 0.4em;
	color: #000000;
	border: 2px solid black;
}
.nametag p{
	position: absolute;
	min-width: 299px;
	height: 128px;
	left: 27px;
	top: 876px;

	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: normal;
	text-align: right;

	color: rgba(38, 35, 37, 0.71);
}

.myiconindex{
	position: absolute;
	max-width: 14.44vw;
	max-height: 14.44vw;	
	left: 8.61vw;
	top: 20px;
	display: block;
}
.myiconindex img{
	width: 100%;
	height: 100%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
	border-radius: 100px;
	object-fit: cover;
	overflow: hidden;
}
.box1{
	position: absolute;
	left:5.30vw;
	top:99px;
	/*max-width:80vw;
	max-width: 321px;*/  
}

.box2{
	position:relative;
	left: 5.30vw;
	top: 353px; 
}
.box3{
	position: absolute;
	left: 5.30vw;
	top: 607px; 
}
.box{
	max-width: 88.33%;
	max-height: 235px;

}
.box img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
	border-radius: 40px;
}
.label{

	height: 57px;
	background: #FFFFFF;
	box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.1);
	border-radius: 40px;
	transform: rotate(-90deg);
	opacity: 0.85
}
.label h1{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 10px;
	letter-spacing: 0.55em;
	color: #000000;
	text-align: center;
	margin-top: 8px;
}
.b1{
	position: absolute;
	width: 165px;
	height: 31px;
	left: -37px;
	top: 200px;
}
.b2{
	position: absolute;
	width: 78px;
	height: 31px;
	left: 6.3px;
	top: 457px; 
}
.b3{
	position: absolute;
	width: 128px;
	height: 31px;
	left: -18px;
	top: 712px;
}

.socialicons i{
	padding: 10px;
	font-size: 32px;
	background: #FFFFFF;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
	border-radius: 100px;
	position: absolute;
	top: 1200px;
	max-width: 60px;
	max-height: 60px;
	color: black;
	margin-bottom: 32px;
}
.fa-instagram{
	left: 27px;
	padding: 12px;
}
.fa-behance{
	left:91px;
	padding: 18px; 

}
.fa-youtube-play{
	left: 155px;

}
.fa-dribbble{
	left: 219px;
}
.contact h1{
display: none;
}
.contact{
position: absolute;
width: 50px;
height: 50px;
left: 283px;
top: 1200px;

background: linear-gradient(90deg, #85C43F -9.52%, #00AE4C 105.95%);
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.18);
}